.edit-header {
  display: flex;
  justify-content: space-between;
}

.edit-main {
  height: 95%;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}
