@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import "~material-icons/iconfont/material-icons.scss";
@import "button";
@import "App"
// @import "~normalize.css";
// @import "header";
// @import "main";
// @import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f2f2f2;
}

.root {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: 0.8rem;
}
