@import "variables";

.table {
  border: 1px solid $border_color;
}

.table-row {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.table-cell {
  padding: 10px 15px;
  border-top: 1px solid $border_color;
  border-right: 1px solid $border_color;
}

.table-cell.title {
  flex-grow: 99999;
}
